@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v22/c4mw1n92AsfhuCq6tVsaoIx1LQICk0boNoq0ShMzVo0iPw.woff2) format('woff2');
    unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}

/*font-family: 'Inter', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Dongle', sans-serif;

Cores:
#6F0F77
*/
#title_id {
    scroll-margin-top: 140px;
    /* Ajuste este valor conforme necessário */
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    margin-top: 10%;
}

h3 {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
    font-size: 35px;
    margin-top: 10%;
}

h2 {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    line-height: 1;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    user-select: none;
    color: white;
}

header {
    width: 100%;
    height: 7%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.951);
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    margin-right: 50px;
    z-index: 5;
}

.a_logo_header {
    width: 5%;
    height: 5%;
    margin-top: -85px;
    margin-right: 25%;
}

.menus_header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 250px;
}

.btn_header {
    display: flex;
    gap: 12px;
    margin-left: 150px;

}

button,
button::after {
    padding: 16px 20px;
    font-size: 18px;
    background-color: #9d0000;
    border: 0;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #350000;
    outline: transparent;
    position: relative;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "ESCAPE";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

button a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

.logo {
    width: 250px;
    margin-top: -35%;
    margin-right: 100px
}

.navbar {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;

}

.navbar a:hover {
    color: #d80000;
    transition: color 0.7s ease;
}

main {
    padding-top: 50px;
}

.conteudo_home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 50px;
}

.imagem_home {
    background-image: url('./img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.texto_inicial {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2245px;
    margin-top: -40px;
}

.novo_killer {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.titulo_killer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1000;
    font-size: 35px;
    margin-left: 10%;
}

.container_killer {
    background-image: url('./img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.conteudo_killer {
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-top: -4%;
}

.perk_killer {
    background-color: #ffffff00;
    width: 42%;
    height: 20%;
    display: flex;
    margin-left: 44%;
    margin-top: 3%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.quadrado1 {
    background-image: url('./img/CM_1660_Db_D_CH_30_Power_GIF_82d34e2eda.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000057;
    width: 100%;
    height: 100%;
    margin-right: -5px;
    cursor: pointer
}

.quadrado2 {
    background-image: url(./img/perk1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000057;
    width: 100%;
    height: 100%;
    margin-right: -5px;
    cursor: pointer
}

.quadrado3 {
    background-image: url(./img/perk2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000057;
    width: 100%;
    height: 100%;
    margin-right: -5px;
    cursor: pointer
}

.quadrado4 {
    background-image: url(./img/perk3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000057;
    width: 100%;
    height: 100%;
    margin-right: -5px;
    cursor: pointer
}

.comunidade {
    padding-top: 120px;
    margin-top: 10px;
    width: 100vw;
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #000000;
    margin-top: -5%;
}

.titulo_comunidade {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1000;
    font-size: 35px;
    color: #ffffff;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: -57%;
}

.container_primario {
    width: 100vw;
    height: 50vh;
    background-color: #000000;
}

.container_secundario {
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0;
}

.container_comunidade1 {
    width: 80%;
    height: 80%;
    background-color: #101010;
    display: flex;
    margin: auto;
    margin-top: 2.5%;
}

.conteudo_container-comunidade {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: -3%;
    padding: 5%
}

.imagem_comunidade1 {
    width: 49%;
    height: 100%;
    background-image: url(./img/DBD_T19_Keyart_3840x2160_VF_67416ff418.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.container_comunidade2 {
    width: 40%;
    height: 90%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;
    margin-left: 10%;
    gap: 5%;
}

.containerSecundario1 {
    width: 40%;
    height: 100%;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_secundario {
    width: 90%;
    height: 50%;
    overflow: hidden;
}

.video_secundario video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo_video {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    text-transform: none;
    font-weight: normal;
}

.titulo_video p {
    margin-top: -4%;
}

.titulo_gif {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-transform: none;
    font-weight: normal;
    margin-left: -10%;
}

.titulo_gif p {
    margin-top: -4%;
}

.containerSecundario2 {
    width: 40%;
    height: 100%;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif_secundario {
    width: 90%;
    height: 50%;
    background-image: url(./img/25257cadc520b9d1b5bbaa2658c352c4.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.container_comunidade3 {
    width: 40%;
    height: 90%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-right: 10%;
    flex-direction: column;
    gap: 10%
}

.containerTerciario1 {
    width: 110%;
    height: 45%;
    margin-right: 10%;
    background-image: url(./img/banner1\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.texto_containerter h1 {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.containerTerciario2 {
    width: 110%;
    height: 45%;
    margin-right: 10%;
    background-image: url(./img/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.containerTerciario2 h1 {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}


.sobreJogo {
    width: 100vw;
    height: 120vh;
    margin-top: 5%;
    background-image: url(./img/fundo_sobreJogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1;

}

.titulo_sobreJogo {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1000;
    font-size: 35px;
    color: #ffffff;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: 10%;
}

.titulo_sobreJogo h2 {
    margin-top: 8%;
}

.video_youtube {
    display: flex;
    margin: auto;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3%;
    margin-left: 10%;
}

.container_sobreJogo {
    width: 31%;
    height: 54%;
    background-color: #00000082;
    margin-left: 65%;
    margin-top: -36%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.button_cadastrar {
    width: 98.7%;
    height: 20%;
    color: #ffffff;
    cursor: pointer;
    z-index: 0;
}

/* ONU */

.onu {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.onu_title {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1000;
    font-size: 35px;
    color: #ffffff;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;

}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 10px;
    margin-left: 30px;
    background-color: #000000;
    margin-top: 5%;
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner {
    width: 95%;
    height: 130%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 95%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back p,
.card-back2 p,
.card-back3 p,
.card-back4 p,
.card-back5 p,
.card-back6 p,
.card-back6 a {
    font-size: small;

}

.card-back p,
.card-back2 p,
.card-back3 p,
.card-back4 p,
.card-back5 p,
.card-back6 p,
.card-back6 a {
    font-size: 17px;
}

.card-back6 a {
    margin-top: 5%;
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
    /* Adiciona uma transição suave para a mudança de cor */
}

.card-back6 a:hover {
    color: #ffffff;
    font-weight: bold;
    /* Deixa o texto em negrito no hover */
    animation: shake 0.5s;
    /* Adiciona uma animação de shake no hover */
}

.meu-modal {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 150px;
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;

}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#texto-explicativo {
    color: #000000;
}

/* Define a animação de shake */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.card-front {
    background-image: url("./imgOnu/ONU3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #511440;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #4C9F38;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #4C9F38;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

/* card2 */
.card2 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner2 {
    width: 95%;
    height: 130%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card2:hover .card-inner2 {
    transform: rotateY(180deg);
}

.card-front2,
.card-back2 {
    position: absolute;
    width: 95%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front2 {
    background-image: url("./imgOnu/ONU4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4f2222;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back2 {
    background-color: #C5192D;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #C5192D;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

/* card3 */

.card3 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner3 {
    width: 95%;
    height: 130%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card3:hover .card-inner3 {
    transform: rotateY(180deg);
}

.card-front3,
.card-back3 {
    position: absolute;
    width: 95%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front3 {
    background-image: url("./imgOnu/ONU5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #121212;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back3 {
    background-color: #FF331A;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #FF331A;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

/* card4 */

.card4 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner4 {
    width: 95%;
    height: 130%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card4:hover .card-inner4 {
    transform: rotateY(180deg);
}

.card-front4,
.card-back4 {
    position: absolute;
    width: 95%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front4 {
    background-image: url("./imgOnu/ONU8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0018;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back4 {
    background-color: #A21942;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #A21942;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

/* card5 */

.card5 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner5 {
    width: 95%;
    height: 130%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card5:hover .card-inner5 {
    transform: rotateY(180deg);
}

.card-front5,
.card-back5 {
    position: absolute;
    width: 95%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front5 {
    background-image: url("./imgOnu/ONU9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0018;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back5 {
    background-color: #FD6925;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #FD6925;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

/* card6 */

.card6 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card-inner6 {
    width: 95%;
    height: 130%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card6:hover .card-inner6 {
    transform: rotateY(180deg);
}

.card-front6,
.card-back6 {
    position: absolute;
    width: 95%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front6 {
    background-image: url("./imgOnu/ONU10.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0a0018;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back6 {
    background-color: #DD1367;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #DD1367;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}

.container_noticia {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    gap: 4%;
    background-color: #ffffff;
}

.primeria_noticia {
    background-color: #ffffff;
    border: #000000 solid 8px;
    width: 450px;
    height: 250px;
}

.primeria_noticia p {
    font-size: 20px;
    font-weight: 1000;
    color: #000000;
}

.primeria_noticia b {
    /* Adicione um tamanho de fonte para melhor visibilidade */
    background: linear-gradient(90deg, rgba(255, 29, 170, 1) 0%, rgba(126, 59, 156, 1) 51%, rgba(34, 111, 181, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primeria_noticia a {
    color: #000000;
    font-weight: 100;
}   

.imagem_noticia1 {
    width: 100%;
    height: 60%;
    background-image: url(./imgOnu/survivor_davidking_lore_05476cb958.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.segunda_noticia {
    background-image: url(./imgOnu/Fxklb-2X0AQsYMS.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 109%;
    width: 450px;
    height: 250px;
    border: #000000 solid 8px;
}

/* CONTATO */

.contato {
    background-color: #af65b5;
    display: flex;
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-top: 12%;

}

.container_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contato h2 {
    position: relative;
    z-index: 1;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    color: #ffffff;
    margin-top: 19%;
    margin-left: 10%;
}

.conteudo_contato {
    position: relative;
    z-index: 1;
    background-color: #9a9a9a00;
    width: 42%;
    height: 50%;
    margin: auto;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: justify
}

.input-group {
    display: flex;
    align-items: center;
}

#validation-card {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
    /* Inicialmente oculto */
}

/* Classe para ocultar o card */
.hidden {
    display: none !important;
}


.input_contato {
    height: 50px;
    width: 502px;
    padding: 0 1rem;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #9d0000;
    background-color: transparent;
}

#button--submit {
    height: 52px;
    padding: .5em 1em;
    border: none;
    background-color: #9d0000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

#button--submit:hover {
    background-color: #a80a0a;
}

.input_contato:focus,
.input:focus-visible {
    border-color: #a80a0a;
    outline: none;
}

.input_contato::placeholder {
    color: #ffffff;
}

.rodape_conteudo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 50px 10px;
}

.colunas {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.logo_rodape {
    width: 23%;
}

.button_rodape {
    color: white;
    text-align: center;
}

.coluna1 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: left;

}

.coluna2 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.coluna3 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}