/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #000000;
  overflow: hidden;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.dash {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: #3a3a3a;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
}

.dash_cruzadinha {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: #8b6767;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
  background-image: url(./Dead-by-Daylight-video-games-horror-Video-Game-Art-1879365.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.header-left h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #ffffff;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 2px 2px 5px black, 0 0 10px #e74c3c, 0 0 20px #e74c3c;
  }

  to {
    text-shadow: 2px 2px 5px black, 0 0 20px #e74c3c, 0 0 40px #e74c3c;
  }
}


.hello {
  margin-bottom: 20px;
}

.hello h3 {
  margin: 0;
  font-size: 1.2em;
  color: #ffffff;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.hello span {
  font-weight: bold;
  color: #9d0000;
}

.btn-nav,
.btn-nav-white,
.btn-logout {
  margin-bottom: 15px;
  width: 70%;
  text-align: center;
  transition: transform 0.3s ease;
}

.btn-nav h3,
.btn-nav-white h3,
.btn-logout h3 {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn-nav h3 {
  background: #9d0000;
  color: #ffffff;
  box-shadow: 0 0 10px #350000;
}

.btn-nav-white h3 {
  background: #9d0000;
  color: #ffffff;
  box-shadow: 0 0 10px #350000;
}

.btn-nav-white a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.btn-nav:hover,
.btn-nav-white:hover,
.btn-logout:hover {
  transform: scale(1.05);
}

.btn-nav:hover h3 {
  background: #9d0000;
  box-shadow: 0 0 15px #350000;
}

.btn-nav-white:hover h3 {
  background: #9d0000;
  box-shadow: 0 0 15px #350000;
}

.btn-logout h3 {
  background: #9d0000;
  color: #ffffff;
  box-shadow: 0 0 10px #350000;
}

.btn-logout:hover h3 {
  background: #9d0000;
  box-shadow: 0 0 15px #350000;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url(./imagens-perfil/dead-by-daylight-ghostface_auhe.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 60px;
}

.modal-content {
  background-color: #1a1a1a;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 410px;
  color: #fff;
}

.modal-content h3 {
  margin-top: 0;
}

.image-options img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.image-options img:hover {
  transform: scale(1.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2 {
  text-align: center;
}

/* forum */

.container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #1f1f1f;
  /* Fundo escuro */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Sombra mais escura */
}

/* Título principal */
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #eaeaea;
  /* Texto branco */
}

/* Formulário de novo tópico */
#novo-topico-form {
  margin-bottom: 20px;
}

/* Estilos para os campos de entrada */
#novo-topico-form input,
#novo-topico-form textarea {
  width: calc(100% - 30px);
  /* Ajuste para compensar o padding */
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #363636;
  /* Cor de fundo mais escura */
  color: #eaeaea;
  /* Texto branco */
}

/* Estilos para os botões de submissão e limpeza */
#novo-topico-form button[type="submit"],
#limpar-todos-topicos {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2c;
  /* Cor de fundo mais escura */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#novo-topico-form button[type="submit"]:hover,
#limpar-todos-topicos:hover {
  background-color: #444;
  /* Cor de fundo mais escura no hover */
}

/* Container de tópicos */
#topicos-container {
  margin-top: 30px;
}

#topicos-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #eaeaea;
  /* Texto branco */
}

/* Estilos para os tópicos */
.topico {
  border: 1px solid #666;
  /* Borda mais escura */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #363636;
  /* Cor de fundo mais escura */
}

.topico h3 {
  margin-top: 0;
  font-size: 24px;
  color: #eaeaea;
  /* Texto branco */
}

.topico p {
  margin: 10px 0;
  color: #ccc;
  /* Texto mais claro */
}

/* Estilos para o textarea de resposta */
.resposta-textarea {
  width: 99%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #666;
  /* Borda mais escura */
  border-radius: 5px;
  font-size: 16px;
  background-color: #363636;
  /* Cor de fundo mais escura */
  color: #eaeaea;
  /* Texto branco */
}

/* Estilos para o botão de resposta */
.resposta-button {
  width: auto;
  padding: 5px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2c;
  /* Cor de fundo mais escura */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resposta-button:hover {
  background-color: #444;
  /* Cor de fundo mais escura no hover */
}

/* Estilos para o botão de deletar */
.botao-deletar {
  background-color: #dc3545;
  /* Cor de fundo vermelha */
  border: none;
  color: #fff;
  /* Texto branco */
  cursor: pointer;
  padding: 8px;
  /* Aumenta o preenchimento */
  transition: background-color 0.3s ease;
  font-size: 14px;
  /* Tamanho da fonte aumentado */
}

.botao-deletar:hover {
  background-color: #c82333;
  /* Cor de fundo mais escura no hover */
}

/* Estilos para a resposta do usuário */
.item-resposta {
  position: relative;
  padding: 15px;
  /* Aumenta o preenchimento */
  border-bottom: 1px solid #ccc;
  color: #eaeaea;
  /* Texto branco */
  background-color: #333;
  /* Fundo escuro */
  margin-bottom: 10px;
  /* Espaçamento inferior entre respostas */
}

/* Estilos para o texto da resposta */
.item-resposta p {
  margin-bottom: 5px;
  /* Espaçamento inferior entre parágrafos */
}

/* Estilos para o botão de deletar dentro da resposta */
.item-resposta .botao-deletar {
  position: absolute;
  top: 10px;
  /* Posicionamento superior */
  right: 10px;
  /* Posicionamento direito */
  font-size: 12px;
  /* Tamanho da fonte do botão reduzido */
}

/* Estilos para o botão de resposta */
.resposta-button {
  width: 100%;
  padding: 12px;
  /* Aumenta o preenchimento */
  font-size: 16px;
  /* Tamanho da fonte aumentado */
  border: none;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #fff;
  /* Texto branco */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resposta-button:hover {
  background-color: #222121;
  /* Cor de fundo mais escura no hover */
}

/* Cruzadinha */

header h1 {
  text-align: center;
  font-size: 30px;
}


table {
  border: 1px #000000 solid;
  font-size: 25px;
  margin-left: 130px;
  margin: auto;
}


tr {
  border: 1px #000000 solid;
}

td {
  border: 1px #000000 solid;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: center;
}

button {
  border: 0px;
  background-color: #EC7063;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.container_cruzadinha {
  width: 1100px;
  margin: auto;
}

.container_cruzadinha h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #ffffff;
  animation: glowR 1.5s infinite alternate;
}

@keyframes glowR {
  from {
    text-shadow: 2px 2px 5px black, 0 0 10px #000000, 0 0 20px #000000;
  }

  to {
    text-shadow: 2px 2px 5px black, 0 0 20px #000000, 0 0 40px #000000;
  }
}

#div_game {
  background-color: #00000000;
  margin: auto;
  width: 800px;
  height: 500px;
}

#div_questions {
  background-color: #ffffff;
  width: 800px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  transition: all 0.3s ease-in-out;
  margin-top: -10%;
}

#span_questionText {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  display: block;
}

#input_answer {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s;
  border: 2px solid #8686866e;

  outline: none;
}

#input_answer:focus {
  border-color: #868686d5;
  outline: none;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

#button_verify {
  background-color: #29b946;
  color: #ffffff;
}

#bt_destroyGame {
  background-color: #b93029;
  color: #ffffff;
}

#button_verify:hover {
  background-color: #1ea339;
  transform: scale(1.05);
}

#button_verify:active {
  background-color: #1ea339;
  transform: scale(0.98);
}

#bt_destroyGame:hover {
  background-color: #92211b;
  transform: scale(1.05);
}

#bt_destroyGame:active {
  background-color: #92211b;
  transform: scale(0.98);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Adiciona responsividade */
@media (max-width: 768px) {
  #div_questions {
    width: 90%;
  }

  #input_answer {
    width: 100%;
  }

  .button {
    width: 100%;
    margin: 5px 0;
  }

  .button-container {
    flex-direction: column;
  }
}

/* #div_questions {
  background-color: #85c1e992;
  width: 700px;
  margin: auto;
} */

/* .button {
  margin: auto;
  display: inline-block;
} */
/* 
#button_verify {
  width: 100px;
  margin: auto;
}

#input_answer {
  width: 100px;
  margin: auto;
} */

.deadCell {
  background: #000000a5
}

.availableCell {
  background-color: #ffffff;
}

footer {
  height: 80px;
  background-color: #2C3E50;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0;
  bottom: 0;
}

footer p {
  text-align: center;

}

#div_information {
  width: 100%;
  margin: auto;
  background-color: #ffffffdc;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.game1 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game1 button {
  margin-left: 5%;
}

#div_information h2 {
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 5%;
  font-size: 32px;
}

#div_verifiedAnswer {
  width: 400px;
  height: 72px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
  margin-top: -4%;
}

.correctAnswer {
  background-color: #4CAF50;
  /* Verde mais vibrante */
  color: #FFFFFF;
  /* Texto branco */
  border: 2px solid #388E3C;
  /* Borda verde escura */
  padding: 0 20px;
  /* Removi o padding vertical */
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.wrongAnswer {
  background-color: #F44336;
  /* Vermelho mais vibrante */
  color: #FFFFFF;
  /* Texto branco */
  border: 2px solid #D32F2F;
  /* Borda vermelha escura */
  padding: 0 20px;
  /* Removi o padding vertical */
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}


/* ESCOLHA SEMANAL */
.janela {
  overflow: hidden;
}

.semanal {
  position: relative;
  z-index: 1;
  color: white;
  /* Cor do texto para se destacar contra o fundo escurecido */
}

.semanal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./tome-iv-conviction-key-art.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: -1;
  /* Coloca o pseudo-elemento atrás do conteúdo */
}

.dashSemanal {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 20%;
  height: 75vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgb(255, 255, 255);
}

.dashSemanal h1 {
  font-weight: 450;
  font-size: 45px;
  text-transform: uppercase;

}

.icone-grafico {
  background-color: #007bff00;
  width: 10%;
  height: 10%;
  margin-top: -6.8%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-left: 82%;
  cursor: pointer;
}

.icone-duvida,
.icone-resultado {
  width: 45%;
  height: 100%;
  background-size: 100% 100%;
  /* Ajusta o tamanho da imagem para cobrir totalmente a div */
  background-repeat: no-repeat;
  background-position: center;
  /* Centraliza a imagem */
}

.icone-duvida {
  background-image: url(./ponto-de-interrogacao\ \(1\).png);
}

.icone-resultado {
  background-image: url(./grafico.png);
}

.meu-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 22%;
  color: #000000;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.registro_Pontuacao {
  font-size: 32px;
  font-weight: 800;
}

.registro_Pontuacao a {
  font-size: 32px;
  font-weight: 800;
  color: #1ea339;
}

.textoCentralizador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoCentralizador {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botaoDirecionador {
  background-color: #007bff;
  /* Cor de fundo azul */
  color: #fff;
  /* Cor do texto branco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#botaoDirecionador:hover {
  background-color: #0056b3;
  /* Mudança de cor ao passar o mouse */
}

#botaoDirecionador:active {
  transform: scale(0.95);
  /* Efeito de escala ao clicar */
}

/* Animação de entrada */
@keyframes entradaBotao {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#botaoDirecionador {
  animation: entradaBotao 0.5s ease forwards;
}

.cards-row {
  display: flex;
  flex-direction: row;
  gap: 0.05%;
  margin-left: 30px;
  background-color: #ffffff00;
  margin-top: 2%;
}

.card {
  width: 300px;
  perspective: 1000px;
}

.card-inner {
  width: 90%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 180%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.quadrado1 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/Apple_Pie_Perk_Icons_Web_Sable_Ward_Invocation_P1_4bd291d02e-_1_.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado1-1 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/Apple_Pie_Perk_Icons_Web_Sable_Ward_Shadows_P2_e3f81e7630.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado1-2 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/Apple_Pie_Perk_Icons_Web_Sable_Ward_Wicked_P3_cc922aa5b5.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-front {
  background-image: url("./DBD_Website_Ch31_Character_Page_Survivor_Sable_084678d1f0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #511440;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-front p {
  margin-top: 120%;
  font-weight: 200;
  font-size: 32px;
  text-transform: uppercase;
}

.card-back {
  background-color: #511440;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #511440;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.meu-modal {
  display: none;
  /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 150px;
}

.modal-conteudo {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.vantagem_perk {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 700;
}

.titulo_perk {
  color: #000000;
  font-size: 25px;
  font-weight: 900;
}

.linha_perk {
  background-color: #921010;
  width: 10%;
  height: 4%;
  margin-top: -1.4%;
}

/* card2 */
.card2 {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner2 {
  width: 90%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card2:hover .card-inner2 {
  transform: rotateY(180deg);
}

.card-front2,
.card-back2 {
  position: absolute;
  width: 100%;
  height: 180%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.quadrado2 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/AM_3607_DBD_CH_25_Perk_Icons_WEB_ADA_Wiretap_d495f59290.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado2-1 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/AM_3607_DBD_CH_25_Perk_Icons_WEB_ADA_Reactive_Healing_3daf7e2d45.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado2-2 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/AM_3607_DBD_CH_25_Perk_Icons_WEB_ADA_Low_Profile_2bceaed131.png);

  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-front2 {
  background-image: url("./DBD_Survivor_Ada_Wong_only_5a1367612e.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4f2222;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-front2 p {
  margin-top: 120%;
  font-weight: 200;
  font-size: 32px;
  text-transform: uppercase;
}

.card-back2 {
  background-color: #4f2222;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #4f2222;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

/* card3 */

.card3 {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner3 {
  width: 90%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card3:hover .card-inner3 {
  transform: rotateY(180deg);
}

.card-front3,
.card-back3 {
  position: absolute;
  width: 100%;
  height: 180%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.quadrado3 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/nightmare_blood_warden_6e52ee4aac.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado3-1 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/nightmare_fire_up_cbb06e0bf3-_1_.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado3-2 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/nightmare_remember_me_c43fb55da2.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-front3 {
  background-image: url("./DBD_Killer_Nighmare_only_23c0774f8a.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #121212;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-front3 p {
  margin-top: 120%;
  font-weight: 200;
  font-size: 32px;
  text-transform: uppercase;
}

.card-back3 {
  background-color: #121212;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #121212;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

/* card4 */

.card4 {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner4 {
  width: 90%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card4:hover .card-inner4 {
  transform: rotateY(180deg);
}

.card-front4,
.card-back4 {
  position: absolute;
  width: 100%;
  height: 180%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.quadrado4 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/cenobite_deadlock_8b0dd4e1e8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado4-1 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/cenobite_hex_plaything_c2752c3c6e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.quadrado4-2 {
  width: 40%;
  height: 30%;
  background-image: url(./iamagens-perks/cenobite_scourge_hook_gift_of_pain_451188c109.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card-front4 {
  background-image: url("./DBD_Killer_Pinhead_only_4c4626fd0c.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0018;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-front4 p {
  margin-top: 120%;
  font-weight: 200;
  font-size: 32px;
  text-transform: uppercase;
}

.card-back4 {
  background-color: #0a0018;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #0a0018;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.selecao_valores {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 28vh;
  background-color: #ffffff00;
  align-items: center;
  overflow: hidden;

}

.selecao_valores #btn_valores {
  width: 25%;
  height: 45vh;
  margin-bottom: 5%;
  margin-top: 3%;
  margin-left: 20%;
  background-color: #183153;
  border-radius: 0%;
  overflow: hidden;

}

#btn_valores {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

#btn_valores:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ad0000;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

#btn_valores:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

#btn_valores span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

#btn_valores:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.inputs_valores {
  width: 80vw;
  height: 30vh;
  display: flex;
  gap: 5%;
  margin-left: 25%;

}

#input_valor1 {
  width: 20%;
  height: 150%;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  outline: none;
}

#input_valor2 {
  width: 20%;
  height: 150%;
  margin-left: -1.2%;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  outline: none;
}

#input_valor3 {
  width: 20%;
  height: 150%;
  margin-left: -1.2%;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  outline: none;
}

#input_valor4 {
  width: 20%;
  height: 150%;
  margin-left: -1.5%;
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  outline: none;
}

/* Gráfico */

.grafico {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
}

.grafico-sessao {
  width: 98%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;

}

.container-grafico {
  width: 55%;
  height: 85%;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estatisticas-grafico {
  width: 35%;
  height: 85%;
  background-color: #c80606;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.estatisticas-grafico1 {
  width: 65%;
  height: 35%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.estatisticas-grafico1 h2 {
  color: #ffffff;
  font-size: 20px;
}

.estatisticas-grafico1 h1 {
  color: #ffffff;
  font-size: 75px;
  margin-top: -10%;
}

.estatisticas-grafico2 {
  width: 65%;
  height: 35%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.estatisticas-grafico2 h2 {
  color: #ffffff;
  font-size: 20px;
}

.estatisticas-grafico2 h1 {
  color: #ffffff;
  font-size: 75px;
  margin-top: -10%;
}